body {
  margin: 0;
  font-family: Georgia, serif;
  background-color: #c7829a;
}

input,
textarea,
select {
  font-size: 16px;
}

.not-done {
  color: red;
}

img {
  width: -webkit-fill-available;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container-extra {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  max-width: 400px;
  width: 100%;
  padding: 1.5rem;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.subtitle {
  color: #495057;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #15467A;
  margin-bottom: 1rem;
}

.text {
  color: #495057;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.option input {
  visibility: hidden;
}


.option {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #c7829a;
  cursor: pointer;
}

.option label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.otpion label:hover {
  background-color: #c7829a;;
}

.input {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #dee2e6;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 20px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid #c7829a;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
}

.btn:hover {
  background-color: #c7829a;
  color: #fff;
}

.btn-active {
  background-color: #c7829a;
  color: white;
  border: none;
}

.submit-btn {
  padding: 0.75rem;
  border-radius: 8px;
  background-color: #d6336c;
  color: white;

  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover:not(.disabled) {
  background-color: #c2255c;
}

.submit-btn.disabled {
  background-color: #adb5bd;
  cursor: not-allowed;
}


.guest-name {
  cursor: pointer;
  padding: 4px 8px;
}

.guest-name.done {
  font-weight: bold;
  color: green;
}

.checkmark {
  margin-left: 6px;
  font-size: 1.2rem;
}

textarea {
    color: #c7829a;
    border: 1px solid #c7829a;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
}

#song {
  width: 90%;
  border: 1px solid #c7829a;
  color: #c7829a;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 0px;
}

#song:focus {
  border: 1px solid #c7829a;
}

#submit-rsvp {
  background-color: #c7829a !important;
  color: #fff;
  margin-top: 20px;
}